.Header__header {
  background-color: #24292e;
  color: white;
}

.Header__logoImage {
  font-size: 33px;
  margin: auto;
}

.Header__topUserImage {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.Header__actionButton {
  margin-top: 7px;
  height: 35px;
  line-height: 18px;
  background-color: #3a95ff;
  padding: 0px 20px 0px 20px;
}
