.MainContentView__collaborators {
  height: 40px;
  width: 40px;
}

.MainContentView__overlap {
  margin-left: -10px;
}

.MainContentView__reaction {
  color: #5a5858;
}

.MainContentView__reactionNumber {
  font-size: 14px;
}

.MainContentView__lastEdited {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.MainContentView__upvoted {
  color: #ffbcbc;
}

.MainContentView__downvoted {
  color: #c9d8ff;
}
